/*Section du header name*/
header{
    display: flex;
    padding-bottom: 5px;
}
#header-name{
    color: tomato;
    font-weight: 900;
    font-size:32pt;
    text-shadow: 10px 20px 25px grey;
    text-decoration: underline grey;
    padding-left : 10px;
    flex-grow: 1;
}
#dot{
    color: black;
}
#js{
    color: skyblue;
    font-style: italic;
}
#theme{
    text-align: center;
}
/* section du footer */
footer{
    text-align:center;
}
/* section body */
body{
    height:100vh;
    display:flex;
    flex-direction: column;
}
body.dark{
    background-color: rgb(44, 44, 43) !important;
    color: white !important;
}
article{
    flex-grow:1;
}
/* section editor */
#editor{
    display: flex;
}
#editor>*:first-child{
    flex-grow: 1;
}
#editor>*:first-child>*{
    height: 100%;
    width:100%
}
#editor-form{
    text-align: center;
}
.flex-col{
    display: flex;
    align-content: center;
}
.flex-col>*{
    text-align:center;
     padding:5px;
     width: 45%;
}
input[type="number"]{
    width:100%;  
   
}
.center{
    text-align: center;
}