#header-name{
        color: tomato;
        font-weight: : 900;
        font-size: 32pt;
        text-shadow: 10px 10px 25px grey;
        text-decoration: underline grey;
        padding-left : 10px;


}
#dot{color: black;

}

#JS{color: skyblue;
    font-style: italic;
    
}

footer{
    test-align:center;
}

body{
    height:100vh;
    dispay:flex;
    flex-direction: column;

}

article{
    flex-grow:1;

}

#editor{
    display: flex;

}
#editor:first-child{
    flex-grow: 1;

}
#editor:first-child{
    height: 100%;
    

}


